<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cafe House || Contact</title>
    <link rel="shortcut icon" href="../content/assetts/img/favicon.ico" type="image/x-icon" />
    <!-- <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700" rel="stylesheet"
        type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Damion" rel="stylesheet" type="text/css"> -->
    <!-- link fontawesome lib file -->
    <link rel="stylesheet" href="../content/css/abstract/all.min.css" />
    <!-- link bootstrap file -->
    <link rel="stylesheet" href="../content/css/abstract/bootstrap.min.css" />
    <!-- link main css style file -->
    <link rel="stylesheet" href="../content/css/main.css" />
    <!-- link contact css style file -->
    <link rel="stylesheet" href="../content/css/contact.css" />

</head>

<body>
    <!-- Header -->
    <header class="main-header mb-5">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-2">
            <div class="container">
                <div class="w-100 d-flex justify-content-between">
                    <a class="navbar-brand" href="index">
                        <img src="../content/assetts/img/logo.png" alt="cafe house" />
                        <span class="text-capitalize">cafe house</span>
                    </a>
                    <div>
                        <button class="navbar-toggler mt-2 mx-2" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav text-uppercase me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" href="index.html">home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="today-special.html">today special</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="menu.html">menu</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="contact.html">contact</a>
                                </li>
    
                            </ul>
    
                        </div>
                    </div>
                </div>
            </div>
        </nav><!-- ./navbar -->
        <div class="main-header__intro">
            <div class="container position-relative">
                <div class="intro__light w-100 position-absolute top-0 start-0  d-flex justify-content-around">
                    <img src="../content/assetts/img/light.png" alt="light img" class="d-none d-md-block" />
                    <img src="../content/assetts/img/light.png" alt="light img" />
                    <img src="../content/assetts/img/light.png" alt="light img" class="d-none d-md-block" />
                </div><!-- ./intro__light -->
                <div class="intro__info text-center">
                    <div class="info__info-header d-flex justify-content-center align-items-baseline">
                        <img src="../content/assetts/img/header-line.png" alt="header line" />
                        <h2 class="text-white text-capitalize">contact us</h2>
                        <img src="../content/assetts/img/header-line.png" alt="header line" />
                    </div>
                    <h1 class="text-uppercase gold-color py-2">cafe house</h1>
                    <p class="w-75 mx-auto pb-4">
                        Cafe House template is a mobile-friendly responsive
                        <span class="gold-color">Bootstrap v3.3.5</span>
                        layout by
                        <span class="gold-color">templatemo</span>.
                        Lorem ipsum dolor sit amet,
                        consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                        penatibus et magnis dis
                        parturient montes, nascetur ridiculusnec quam felis, ultricies nec, pellentesque eu, pretium quis,
                        sem.
                    </p>
                    <a href="#" class="link text-uppercase gold-color">details</a>
                </div><!-- ./intro__info -->
                <div class="intro__table d-flex justify-content-center position-relative top-0">
                    <img src="../content/assetts/img/table-set.png" alt="table set" class="img-fluid position-absolute" />
                </div><!-- ./intro__table -->
            </div>
        </div><!-- ./main-header__intro -->
    </header><!-- ./main-header -->
    <!-- Main -->
    <main>
        <div class="container ">
            <h2 class="mb-4 pt-2">Send us a message</h2>
            <div class="row ">
                <div class="col-md-6">
                    <section class="contact-form pl-4 my-4 ">
                        <form>
                            <input type="text" placeholder="NAME" class="form-control mb-3 " />
                            <input type="email" placeholder="EMAIL" class="form-control mb-3" />
                            <input type="text" placeholder="SUBJECT" class="form-control mb-3" />
                            <textarea rows="5" placeholder="Message" class="form-control mb-3"></textarea>
                            <button type="submit" class="btn text-uppercase mt-2">send message</button>
                        </form>
                    </section>
                </div>
                <div class="col-md-6">
                    <div class="contact-map my-4">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d57292.50598241119!2d32.756501789877014!3d26.17124056370519!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x144eb62eb4d2496f%3A0x50f240bdb670aa01!2z2YLZhtin2Iwg2YLYs9mFINmC2YbYp9iMINmC2YbYpw!5e0!3m2!1sar!2seg!4v1611943595829!5m2!1sar!2seg"
                            width="100%" height="310" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                            tabindex="0">
                        </iframe>
                    </div>
                </div>
                
            </div>
        </div>
    </main><!-- /main -->
    <!-- link fontawesome lib  file -->
    <script src="../content/js/abstract/brands.min.js"></script>
    <!-- link bootstrap file -->
    <script src="../content/js/abstract/bootstrap.min.js"></script>
</body>

</html>