<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Cafe House || Menu</title>
    <link rel="shortcut icon" href="../content/assetts/img/favicon.ico" type="image/x-icon"/>
    <!-- <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700" rel="stylesheet"
        type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Damion" rel="stylesheet" type="text/css"> -->
    <!-- link fontawesome lib file -->
    <link rel="stylesheet" href="../content/css/abstract/all.min.css"/>
    <!-- link bootstrap file -->
    <link rel="stylesheet" href="../content/css/abstract/bootstrap.min.css" />
    <!-- link main css style file -->
    <link rel="stylesheet" href="../content/css/main.css"/>
    <!-- link menu css style file -->
    <link rel="stylesheet" href="../content/css/menu.css" />
    <!-- link menu-intro css style file -->
    <link rel="stylesheet" href="../content/css/menu-intro.css" />

</head>
<body>
    <!-- Header -->
    <header class="main-header mb-5">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-2">
            <div class="container">
                <div class="w-100 d-flex justify-content-between">
                    <a class="navbar-brand" href="index">
                        <img src="../content/assetts/img/logo.png" alt="cafe house" />
                        <span class="text-capitalize">cafe house</span>
                    </a>
                    <div>
                        <button class="navbar-toggler mt-2 mx-2" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav text-uppercase me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" href="index.html">home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="today-special.html">today special</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="menu.html">menu</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contact.html">contact</a>
                                </li>
    
                            </ul>
    
                        </div>
                    </div>
                </div>
            </div>
        </nav><!-- ./navbar -->
        <div class="main-header__intro">
            <div class="container position-relative">
                <div class="intro__light w-100 position-absolute top-0 start-0  d-flex justify-content-around">
                    <img src="../content/assetts/img/light.png" alt="light img" class="d-none d-md-block" />
                    <img src="../content/assetts/img/light.png" alt="light img" />
                    <img src="../content/assetts/img/light.png" alt="light img" class="d-none d-md-block" />
                </div><!-- ./intro__light -->
                <div class="intro__info text-center">
                    <div class="info__info-header d-flex justify-content-center align-items-baseline">
                        <img src="../content/assetts/img/header-line.png" alt="header line" />
                        <h2 class="text-white text-capitalize">our menu</h2>
                        <img src="../content/assetts/img/header-line.png" alt="header line" />
                    </div>
                    <h1 class="text-uppercase gold-color py-2">cafe house</h1>
                    <p class="w-75 mx-auto pb-4">
                        Cafe House template is a mobile-friendly responsive
                        <span class="gold-color">Bootstrap v3.3.5</span>
                        layout by
                        <span class="gold-color">templatemo</span>.
                        Lorem ipsum dolor sit amet,
                        consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                        penatibus et magnis dis
                        parturient montes, nascetur ridiculusnec quam felis, ultricies nec, pellentesque eu, pretium quis,
                        sem.
                    </p>
                    <a href="#" class="link text-uppercase gold-color">details</a>
                </div><!-- ./intro__info -->
                <div class="intro__table d-flex justify-content-center position-relative top-0">
                    <img src="../content/assetts/img/table-set.png" alt="table set" class="img-fluid position-absolute" />
                </div><!-- ./intro__table -->
            </div>
        </div><!-- ./main-header__intro -->
    </header><!-- ./main-header -->
    <!-- Main -->
    <main>
        <!-- Menu Intro -->
        <section class="menu-intro py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="menu-intro__info">
                            <h3 class="mb-3">Variety of Menus</h3>
                            <h2 class="text-capitalize">cafe house</h2>
                            <p class="mb-4">
                                This is free HTML5 website template from <span class="text-primary">template</span><span class="text-success">mo</span>. Fndimentum rhoncus, sem quam
                                semper libero, sit amet adipiscing sem
                                neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante
                                tincidunt
                                tempus. Donec vitae sapien ut libero venenatis faucibus. Ettiam sit amet orci eget eros faucibus tincidunt.
                            </p>
                            <a class="d-block text-center text-uppercase mb-3" href="#">read more</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="menu-intro__img">
                            <img src="../content/assetts/img/1.jpg" alt="menu intro" class="rounded-circle" />
                        </div>
                    </div>
                </div>
            </div>
            
        </section><!-- ./menu-intro -->
        <!-- Our Menu  -->
        <section class="our-menu">
            <div class="container">
                <h2 class="section-title text-capitalize">our menu</h2>
                <div class="row">
                    <div class="col-lg-3">
                        <aside class="list-group text-center text-uppercase mb-4">
                            <a class="list-group-item mx-3" href="#"> affogato </a>
                            <a class="list-group-item mx-3" href="#"> caffè americano </a>
                            <a class="list-group-item mx-3" href="#"> caffè latte </a>
                            <a class="list-group-item mx-3" href="#"> coffee milk </a>
                            <a class="list-group-item mx-3" href="#"> café mocha </a>
                            <a class="list-group-item mx-3" href="#"> cappuccino </a>
                            <a class="list-group-item mx-3" href="#"> espresso </a>
                            <a class="list-group-item mx-3" href="#"> iced coffee </a>
                            <a class="list-group-item mx-3" href="#"> instant coffee </a>
                            <a class="list-group-item mx-3" href="#"> mocha </a>
                            <a class="list-group-item mx-3" href="#"> black coffee </a>
                        
                        </aside>
                    </div>
                    <div class="col-lg-9">
                        <div class="our-menu__menu-content">
                            <div class="menu-content__item d-flex p-4 mb-4 ">
                                <img src="../content/assetts/img/menu/menu-1.jpg" alt="item img" class="img-fluid mx-auto mb-3" />
                                <section class="item__info align-self-center pe-3">
                                    <h2 class="info__title text-capitalize">americano 1</h2>
                                    <p class="info__desc ">maecenas tempus, tellus eget condimentum rhoncus, sem quam semper
                                        libero, sit amet adipiscing sem neque. Red ipsum.</p>
                                </section>
                                <div
                                    class="item__price d-flex justify-content-center align-items-center align-self-center rounded-circle">
                                    <h2 class="w-75 h-75 mb-0 text-center rounded-circle">
                                        <sup>$</sup>30
                                    </h2>
                                </div>
                            </div><!-- ./menu-content__item -->
                            <div class="menu-content__item d-flex p-4 my-4">
                                <img src="../content/assetts/img/menu/menu-2.jpg" alt="item img" class="img-fluid mx-auto mb-3"/>
                                <section class="item__info align-self-centerpe-3 pe-3 ">
                                    <h2 class="info__title text-capitalize">americano 2</h2>
                                    <p class="info__desc ">maecenas tempus, tellus eget condimentum rhoncus, sem quam semper
                                        libero, sit amet adipiscing sem neque. Red ipsum.</p>
                                </section>
                                <div
                                    class="item__price d-flex justify-content-center align-items-center align-self-center rounded-circle">
                                    <h2 class="w-75 h-75 mb-0 text-center rounded-circle">
                                        <sup>$</sup>20
                                    </h2>
                                </div>
                            </div><!-- ./menu-content__item -->
                            <div class="menu-content__item d-flex p-4 my-4">
                                <img src="../content/assetts/img/menu/menu-3.jpg" alt="item img" class="img-fluid mx-auto mb-3"/>
                                <section class="item__info align-self-center pe-3">
                                    <h2 class="info__title text-capitalize">americano 3</h2>
                                    <p class="info__desc ">maecenas tempus, tellus eget condimentum rhoncus, sem quam semper
                                        libero, sit amet adipiscing sem neque. Red ipsum.</p>
                                </section>
                                <div
                                    class="item__price d-flex justify-content-center align-items-center align-self-center rounded-circle">
                                    <h2 class="w-75 h-75 mb-0 text-center rounded-circle">
                                        <sup>$</sup>15
                                    </h2>
                                </div>
                            </div><!-- ./menu-content__item -->
                            <div class="menu-content__item d-flex p-4 my-4">
                                <img src="../content/assetts/img/menu/menu-4.jpg" alt="item img" class="img-fluid mx-auto mb-3" />
                                <section class="item__info align-self-center pe-3">
                                    <h2 class="info__title text-capitalize">americano 4</h2>
                                    <p class="info__desc ">maecenas tempus, tellus eget condimentum rhoncus, sem quam semper
                                        libero, sit amet adipiscing sem neque. Red ipsum.</p>
                                </section>
                                <div
                                    class="item__price d-flex justify-content-center align-items-center align-self-center rounded-circle">
                                    <h2 class="w-75 h-75 mb-0 text-center rounded-circle">
                                        <sup>$</sup>25
                                    </h2>
                                </div>
                            </div><!-- ./menu-content__item -->
                            <div class="menu-content__item d-flex p-4 my-4">
                                <img src="../content/assetts/img/menu/menu-5.jpg" alt="item img" class="img-fluid mx-auto mb-3"/>
                                <section class="item__info align-self-center pe-3">
                                    <h2 class="info__title text-capitalize">americano 5</h2>
                                    <p class="info__desc ">maecenas tempus, tellus eget condimentum rhoncus, sem quam semper
                                        libero, sit amet adipiscing sem neque. Red ipsum.</p>
                                </section>
                                <div
                                    class="item__price d-flex justify-content-center align-items-center align-self-center rounded-circle">
                                    <h2 class="w-75 h-75 mb-0 text-center rounded-circle">
                                        <sup>$</sup>45
                                    </h2>
                                </div>
                            </div><!-- ./menu-content__item -->
                        </div><!-- ./menu-content -->
                    </div>
                </div>
            </div>
        </section><!-- ./our-menu -->
    </main><!-- /main -->
    <!-- link fontawesome lib file -->
    <script src="../content/js/abstract/brands.min.js"></script>
    <!-- link bootstrap file -->
    <script src="../content/js/abstract/bootstrap.min.js"></script>
</body>
</html>