<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cafe House || Today's Special</title>
    <link rel="shortcut icon" href="../content/assetts/img/favicon.ico" type="image/x-icon" />
    <!-- <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700" rel="stylesheet"
        type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Damion" rel="stylesheet" type="text/css"> -->
    <!-- link fontawesome lib file -->
    <link rel="stylesheet" href="../content/css/abstract/all.min.css" />
    <!-- link bootstrap file -->
    <link rel="stylesheet" href="../content/css/abstract/bootstrap.min.css" />
    <!-- link main css style file -->
    <link rel="stylesheet" href="../content/css/main.css" />
    <!-- link popular-items css style file -->
    <link rel="stylesheet" href="../content/css/popular-items.css" />
    <!-- link daily-menu css style file -->
    <link rel="stylesheet" href="../content/css/daily-menu.css" />
</head>

<body>
    <!-- Header -->
    <header class="main-header mb-5">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-2">
            <div class="container">
                <div class="w-100 d-flex justify-content-between">
                    <a class="navbar-brand" href="index">
                        <img src="../content/assetts/img/logo.png" alt="cafe house" />
                        <span class="text-capitalize">cafe house</span>
                    </a>
                    <div>
                        <button class="navbar-toggler mt-2 mx-2" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav text-uppercase me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" href="index.html">home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="today-special.html">today special</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="menu.html">menu</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contact.html">contact</a>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </nav><!-- ./navbar -->
        <div class="main-header__intro">
            <div class="container position-relative">
                <div class="intro__light w-100 position-absolute top-0 start-0  d-flex justify-content-around">
                    <img src="../content/assetts/img/light.png" alt="light img" class="d-none d-md-block" />
                    <img src="../content/assetts/img/light.png" alt="light img" />
                    <img src="../content/assetts/img/light.png" alt="light img" class="d-none d-md-block" />
                </div><!-- ./intro__light -->
                <div class="intro__info text-center">
                    <div class="info__info-header d-flex justify-content-center align-items-baseline">
                        <img src="../content/assetts/img/header-line.png" alt="header line" />
                        <h2 class="text-white text-capitalize header--space">today's special</h2>
                        <img src="../content/assetts/img/header-line.png" alt="header line" />
                    </div>
                    <h1 class="text-uppercase gold-color py-2">cafe house</h1>
                    <p class="w-75 mx-auto pb-4">
                        Cafe House template is a mobile-friendly responsive
                        <span class="gold-color">Bootstrap v3.3.5</span>
                        layout by
                        <span class="gold-color">templatemo</span>.
                        Lorem ipsum dolor sit amet,
                        consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                        penatibus et magnis dis
                        parturient montes, nascetur ridiculusnec quam felis, ultricies nec, pellentesque eu, pretium
                        quis, sem.
                    </p>
                    <a href="#" class="link text-uppercase gold-color">details</a>
                </div><!-- ./intro__info -->
                <div class="intro__table d-flex justify-content-center position-relative top-0">
                    <img src="../content/assetts/img/table-set.png" alt="table set"
                        class="img-fluid position-absolute" />
                </div><!-- ./intro__table -->
            </div>
        </div><!-- ./main-header__intro -->
    </header><!-- ./main-header -->
    <main>
        <!--  Popular Items -->
        <section class="popular-items">
            <div class="container">
                <h2 class="section-title text-capitalize">popular items</h2>
                <div class="row py-4">
                    <div class="col-12 col-md-6 col-lg-4 px-3">
                        <article class="popular-items__card position-relative mx-auto">
                            <img src="../content/assetts/img/popular/popular-1.jpg" alt="popular img"
                                class="img-fluid w-100" />
                            <div class="card__text bg-light text-center px-3 position-relative">
                                <h2>americano</h2>
                                <p class="pt-2">Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper
                                    libero, sit amet adipiscing sem
                                    neque. sed ipsum.
                                </p>
                                <span
                                    class="d-flex justify-content-center align-items-center position-absolute rounded-circle">
                                    <a href="#" class="text-capitalize rounded-circle">order now</a>
                                </span>
                            </div>
                        </article><!-- ./popular-items__card -->
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 px-3">
                        <article class="popular-items__card position-relative mx-auto">
                            <img src="../content/assetts/img/popular/popular-2.jpg" alt="popular img"
                                class="img-fluid w-100" />
                            <div class="card__text bg-light text-center px-3 position-relative">
                                <h2>cappuccino</h2>
                                <p class="pt-2">Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper
                                    libero, sit amet
                                    adipiscing sem
                                    neque. sed ipsum.
                                </p>
                                <span
                                    class="d-flex justify-content-center align-items-center position-absolute rounded-circle">
                                    <a href="#" class="text-capitalize rounded-circle">order now</a>
                                </span>
                            </div>
                        </article><!-- ./popular-items__card -->
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 px-3">
                        <article class="popular-items__card position-relative mx-auto">
                            <img src="../content/assetts/img/popular/popular-3.jpg" alt="popular img"
                                class="img-fluid w-100" />
                            <div class="card__text bg-light text-center px-3 position-relative">
                                <h2>mocha</h2>
                                <p class="pt-2">Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper
                                    libero, sit amet
                                    adipiscing sem
                                    neque. sed ipsum.
                                </p>
                                <span
                                    class="d-flex justify-content-center align-items-center position-absolute rounded-circle">
                                    <a href="#" class="text-capitalize rounded-circle">order now</a>
                                </span>
                            </div>
                        </article><!-- ./popular-items__card -->
                    </div>
                </div>
                <div class="row py-4">
                    <div class="col-12 col-md-6 col-lg-4 px-3">
                        <article class="popular-items__card position-relative mx-auto">
                            <img src="../content/assetts/img/popular/popular-1.jpg" alt="popular img" class="img-fluid w-100" />
                            <div class="card__text bg-light text-center px-3 position-relative">
                                <h2>americano</h2>
                                <p class="pt-2">Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper
                                    libero, sit amet adipiscing sem
                                    neque. sed ipsum.
                                </p>
                                <span class="d-flex justify-content-center align-items-center position-absolute rounded-circle">
                                    <a href="#" class="text-capitalize rounded-circle">order now</a>
                                </span>
                            </div>
                        </article><!-- ./popular-items__card -->
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 px-3">
                        <article class="popular-items__card position-relative mx-auto">
                            <img src="../content/assetts/img/popular/popular-2.jpg" alt="popular img" class="img-fluid w-100" />
                            <div class="card__text bg-light text-center px-3 position-relative">
                                <h2>cappuccino</h2>
                                <p class="pt-2">Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper
                                    libero, sit amet
                                    adipiscing sem
                                    neque. sed ipsum.
                                </p>
                                <span class="d-flex justify-content-center align-items-center position-absolute rounded-circle">
                                    <a href="#" class="text-capitalize rounded-circle">order now</a>
                                </span>
                            </div>
                        </article><!-- ./popular-items__card -->
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 px-3">
                        <article class="popular-items__card position-relative mx-auto">
                            <img src="../content/assetts/img/popular/popular-3.jpg" alt="popular img" class="img-fluid w-100" />
                            <div class="card__text bg-light text-center px-3 position-relative">
                                <h2>mocha</h2>
                                <p class="pt-2">Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper
                                    libero, sit amet
                                    adipiscing sem
                                    neque. sed ipsum.
                                </p>
                                <span class="d-flex justify-content-center align-items-center position-absolute rounded-circle">
                                    <a href="#" class="text-capitalize rounded-circle">order now</a>
                                </span>
                            </div>
                        </article><!-- ./popular-items__card -->
                    </div>
                </div>
            </div>
        </section><!-- ./popular-items -->
        <!--  Daily Menu -->
        <section class="daily-menu">
            <div class="container">
                <h2 class="section-title text-capitalize">daily menu</h2>
                <div class="row py-4">
                    <div class="col-md-4">
                        <img src="../content/assetts/img/menu-board.png" alt="menu-board" class="mb-4" />
                    </div>
                    <div class="col-md-8">
                        <div class="daily-menu__info">
                            <p class="pb-1">
                                Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam
                                ultricies nisi vel augue.
                                Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.
                            </p>
                            <ul class="list-unstyled pb-3 ps-3 ps-sm-5">
                                <li><span class="gold-color fw-bold">1.</span> Tellus eget condimentum rhoncus.</li>
                                <li><span class="gold-color fw-bold">2.</span> Sem quam semper libero.</li>
                                <li><span class="gold-color fw-bold">3.</span> Sit amet adipiscing sem neque sed ipsum.
                                </li>
                                <li><span class="gold-color fw-bold">4.</span> Nam quam nunc, blandit vel, luctus
                                    pulvinar.</li>
                                <li><span class="gold-color fw-bold">5.</span> Maecenas nec odio et ante tincidunt
                                    tempus.</li>
                                <li><span class="gold-color fw-bold">6.</span> Donec vitae sapien ut libero ventenatis
                                    faucibus.</li>
                            </ul>
                            <a href="#" class="link text-uppercase gold-color">read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- ./daily-menu -->
    </main>
    <!-- link fontawesome lib file -->
    <script src="../content/js/abstract/brands.min.js"></script>
    <!-- link bootstrap file -->
    <script src="../content/js/abstract/bootstrap.min.js"></script>
</body>

</html>